<section class="web">

  <h2 class="about__header">
    Web
  </h2>

  <p class="about__paragraph">
    Здесь будут гиперссылки на другие страницы сайта.
  </p>

  <mat-divider></mat-divider>

  <section>
    <div class="example-button-row">
      <a mat-raised-button routerLink="/about">Про нас</a>
      <a mat-raised-button routerLink="/home">Главная</a>
      <a mat-raised-button routerLink="/queries">Запросы</a>
      <a mat-raised-button routerLink="/web">Web</a>
    </div>
  </section>

</section>
